<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="/flights/new">ADD FLIGHTS</a>
    <a href="/flights/index">ALL FLIGHTS</a>
    <a href="/tickets/new">New Ticket</a>
  </body>
</html>
<br /><br />
<h2>Destinations</h2>
<% if (flight.destinations.length) { %>
<table>
  <thead>
    <tr>
      <th>Airport</th>
      <th>Arrival Date</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(f) { %>
    <tr>
      <td><%= f.airport %></td>
      <td><%= f.arrival %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Destinations logged.</h5>
<% } %>
<br /><br />
<form
  id="add-review-form"
  method="POST"
  action="/flights/<%= flight._id %>/destinations"
>
  <label
    >Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select> </label
  ><br />
  <label>Arrival Time: <input type="datetime-local" name="arrival" /> </label
  ><br />
  <br />
  <input type="submit" value="Add Destination" />
</form>

<table id="flightTable">
  <thead>
    <tr>
      <th>Seat</th>
      <th>Price</th>
      <th>Flight Number</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(function(t) { %>
    <tr>
      <td><%= t.seat %></td>
      <td><%= t.price %></td>
      <td><%= t.flight %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<form
  id="add-per-to-cast"
  action="/flights/<%= flight._id %>/tickets/"
  method="POST"
>
  <select name="ticketID">
    <%- tickets.map(t => `
    <option value="${t._id}">${t._id}</option>
    ` ).join('') %>
  </select>
  <button type="submit">Add to Flight</button>
</form>
